# netflix_titles.csv

# 6.1 Reading and Writing Data in Text Format

In [2]:
import pandas as  pd

In [4]:
df =pd.read_csv('test.csv')

In [6]:
print(df)

            student   name chimestry  physis  english  math
A01  arif ali khan                20      30       40    50
A02       ali khan                70      30       40    50
A03           khan                10      30       80    50
A04          arif                 70      30       50    30

In [15]:
print(pd.read_csv('example.csv'))

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [17]:
pd.read_csv('example.csv', header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [21]:
#pd.read_csv('example.csv', 
 #           names=['a', 'b', 'c', 'd', 'message']
  #          ,index_col=['Pip','FOR','LIP','STRR'])

In [22]:
names = ['a', 'b', 'c', 'd', 'message']

In [23]:
pd.read_csv('example.csv' , names=names , index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [28]:
parsed =pd.read_csv('exp3.csv',index_col=['key1', 'key2'])

In [29]:
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [30]:
!cat exp3.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [31]:
parsed2 =pd.read_csv('exp3.csv',index_col=['key1', 'key2'])

In [32]:
parsed2

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [36]:
list(open('exp3.csv'))

['key1,key2,value1,value2\n',
 'one,a,1,2\n',
 'one,b,3,4\n',
 'one,c,5,6\n',
 'one,d,7,8\n',
 'two,a,9,10\n',
 'two,b,11,12\n',
 'two,c,13,14\n',
 'two,d,15,16\n']